<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>LogIn</title>
</head>
<body>
<nav>
<div>
<div>
<a href="/">Aggressive Beats</a>
</div>
<ul>
<% if !current_user.nil?%>
<li>こんにちは、<%= current_user.name %>さん</li>
<li><a href="/sigout">入室</a></li>
<% else %>
<li>パスワードを入力</li>
<ul><a href="/signin">ログイン</a></li>
<% end %>
</ul>
</div>
</nav>
<%= yield %>
</body>
</html>