<!DOCTYPE HTML>
<!--
	Phantom by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
	<title>Aggressive Beats NO HEYA</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<noscript>
		<link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>
<body class="is-preload">
	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<div class="inner">

				<!-- Logo -->
				<a href="/" class="logo">
					<span class="symbol"><img src="images/icon.png" alt="" /></span><span class="title">Aggressive Beats</span>
				</a>

				<!-- Nav -->
				<nav>
					<ul>
						<li><a href="#menu">Menu</a></li>
					</ul>
				</nav>

			</div>
		</header>

		<!-- Menu -->
		<nav id="menu">
			<h2>Menu</h2>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/mem">Member Info</a></li>
				<li><a href="/rocket">Rocket League</a></li>
				<li><a href="/r6s">Rainbow six Siege</a></li>
				<li><a href="/pubg">Player Unknowns Battle Ground</a></li>
				<li><a href="/mhw">Monster Hunter World</a></li>
				<li><a href="/minecraft">Mine Craft</a></li>
				<li><a href="/signout">Sign Out</a></li>
			</ul>
		<iframe src="https://discordapp.com/widget?id=467526228274970625&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
		</nav>

		<!-- Main -->
		<div id="main">
			<div class="inner">
				<header>
					<h1>Member Info</h1>
					<p style="font-size:24pt">Hi, my team name is AGB</p>
				</header>
				<section class="tiles">
					<article class="style1">
						<span class="image">
							<img src="images/pretz.jpg" alt="" />
						</span>
						<a href="/rocket">
							<h2>Pretz</h2>
							<div class="content">
							</div>
						</a>
					</article>
					<article class="style2">
						<span class="image">
							<img src="images/toppo.jpg" alt="" />
						</span>
						<a href="/r6s">
							<h2>Toppo</h2>
							<div class="content">
							</div>
						</a>
					</article>
					<article class="style3">
						<span class="image">
							<img src="images/tkdd.jpg" alt="" />
						</span>
						<a href="/pubg">
							<h2>Tkd</h2>
							<div class="content">
							</div>
						</a>
					</article>
					<article class="style4">
						<span class="image">
							<img src="images/narou.jpg" alt="" />
						</span>
						<a href="/mhw">
							<h2>Narou 5</h2>
							<div class="content">
							</div>
						</a>
					</article>
					<article class="style5">
						<span class="image">
							<img src="images/choco.jpg" alt="" />
						</span>
						<a href="/minecraft">
							<h2>Choco 3D</h2>
							<div class="content">
							</div>
						</a>
					</article>
					<article class="style6">
						<span class="image">
							<img src="images/houjin.jpg" alt="" />
						</span>
						<a href="/minecraft">
							<h2>Houjin</h2>
							<div class="content">
							</div>
						</a>
					</article>
				</section>
			</div>
		</div>
		<!-- Footer -->
		<footer id="footer">
			<div class="inner">
				<ul class="copyright">
					<li>&copy; Untitled. All rights reserved</li>
					<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>
			</div>
		</footer>

	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>
</html>